.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.card-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.custom-card {
  flex: 0 0 250px; /* Set the width of each card */
  border-radius: 1.5rem;
  border: 1px solid gray;
  margin: 0.2rem;
  background-color: gray;

  ion-card-header {
    margin: 0;
    padding: 0.5rem;

    ion-card-title {
      font-size: 20px !important;
      padding-left: 0.5rem;
    }

    ion-card-subtitle {
      font-size: 11px !important;
      padding-left: 0.5rem;
      font-weight: 100;
      letter-spacing: 1.5px;
      text-transform: capitalize !important;
    }
  }
}

/* Ensure images fit within the card width */
.custom-card img {
  width: 100%;
}

